<h1>Dashboard</h1>
<p></p>
<%= link_to 'Dashboard', '/' %>
<p></p>
<%= link_to 'Combination Tables', '/combinations' %>
<p></p>
<%= link_to 'Criteria Tables', '/criteria' %>
<p></p>
<%= link_to 'Result Tables', '/results' %>